<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.CategoryMapper">
	<resultMap id="ResultCategoryMap" type="cn.peyton.plum.mall.pojo.Category">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="parent_id" property="parentId" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="seq" property="seq" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_category_List">
		id,parent_id,name,status,seq
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.mall.pojo.Category" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into category(parent_id,name,status,seq)
		values (#{parentId},#{name},#{status},#{seq})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Category" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parentId != null">parent_id,</if>
			<if test="name != null">name,</if>
			<if test="status != null">status,</if>
			<if test="seq != null">seq,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="parentId != null">#{parentId},</if>
			<if test="name != null">#{name},</if>
			<if test="status != null">#{status},</if>
			<if test="seq != null">#{seq},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from category
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.Category">
		update category
		<set>
			<if test="parentId != null">parent_id = #{parentId},</if>
			<if test="name != null">name = #{name},</if>
			<if test="status != null">status = #{status},</if>
			<if test="seq != null">seq = #{seq},</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.mall.pojo.Category">
		update category
		set 
			parent_id = #{parentId},
			name = #{name},
			status = #{status},
			seq = #{seq}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultCategoryMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_category_List"/>
		from category
		where id = #{id}
	</select>

    <!-- new create method   -->
    <select id="finds" resultMap="ResultCategoryMap">
        select <include refid="Column_category_List"/>
        FROM category
        where status =1 ORDER BY seq desc
    </select>
</mapper>
