<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.GoodsTypeValueMapper">
	<resultMap id="ResultGoodsTypeValueMap" type="cn.peyton.plum.mall.pojo.GoodsTypeValue">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="explain" property="explain" jdbcType="VARCHAR"/>
		<result column="goods_type_id" property="goodsTypeId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_goods_type_value_List">
		id,name,seq,type,status,explain,goods_type_id
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.mall.pojo.GoodsTypeValue" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into goods_type_value(name,seq,type,status,explain,goods_type_id)
		values (#{name},#{seq},#{type},#{status},#{explain},#{goodsTypeId})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.GoodsTypeValue" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into goods_type_value
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">name,</if>
			<if test="seq != null">seq,</if>
			<if test="type != null">type,</if>
			<if test="status != null">status,</if>
			<if test="explain != null">explain,</if>
			<if test="goodsTypeId != null">goods_type_id,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="seq != null">#{seq},</if>
			<if test="type != null">#{type},</if>
			<if test="status != null">#{status},</if>
			<if test="explain != null">#{explain},</if>
			<if test="goodsTypeId != null">#{goodsTypeId},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from goods_type_value
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.GoodsTypeValue">
		update goods_type_value
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="seq != null">seq = #{seq},</if>
			<if test="type != null">type = #{type},</if>
			<if test="status != null">status = #{status},</if>
			<if test="explain != null">explain = #{explain},</if>
			<if test="goodsTypeId != null">goods_type_id = #{goodsTypeId},</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.mall.pojo.GoodsTypeValue">
		update goods_type_value
		set 
			name = #{name},
			seq = #{seq},
			type = #{type},
			status = #{status},
			explain = #{explain},
			goods_type_id = #{goodsTypeId}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultGoodsTypeValueMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_goods_type_value_List"/>
		from goods_type_value
		where id = #{id}
	</select>

	<!-- new create method   -->

</mapper>
