<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.MemberInfoMapper">
	<resultMap id="ResultMemberInfoMap" type="cn.peyton.plum.mall.pojo.MemberInfo">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="member_id" property="memberId" jdbcType="BIGINT"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Column_member_info_List">
		id,member_id,sex,birthday,create_time,update_time
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.mall.pojo.MemberInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into member_info(member_id,sex,birthday,create_time,update_time)
		values (#{memberId},#{sex},#{birthday},#{createTime},#{updateTime})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.MemberInfo" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into member_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="memberId != null">member_id,</if>
			<if test="sex != null">sex,</if>
			<if test="birthday != null">birthday,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberId != null">#{memberId},</if>
			<if test="sex != null">#{sex},</if>
			<if test="birthday != null">#{birthday},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from member_info
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.MemberInfo">
		update member_info
		<set>
			<if test="memberId != null">member_id = #{memberId},</if>
			<if test="sex != null">sex = #{sex},</if>
			<if test="birthday != null">birthday = #{birthday},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.mall.pojo.MemberInfo">
		update member_info
		set 
			member_id = #{memberId},
			sex = #{sex},
			birthday = #{birthday},
			create_time = #{createTime},
			update_time = #{updateTime}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultMemberInfoMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_member_info_List"/>
		from member_info
		where id = #{id}
	</select>

	<!-- new create method   -->

</mapper>
