<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.SkuMapper">
	<resultMap id="ResultSkuMap" type="cn.peyton.plum.mall.pojo.Sku">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="seq" property="seq" jdbcType="INTEGER"/>
		<result column="explain" property="explain" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Column_sku_List">
		id,name,type,create_time,status,seq,explain
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.mall.pojo.Sku" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into sku(name,type,create_time,status,seq,explain)
		values (#{name},#{type},#{createTime},#{status},#{seq},#{explain})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Sku" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into sku
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">name,</if>
			<if test="type != null">type,</if>
			<if test="createTime != null">create_time,</if>
			<if test="status != null">status,</if>
			<if test="seq != null">seq,</if>
			<if test="explain != null">explain,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="type != null">#{type},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="status != null">#{status},</if>
			<if test="seq != null">#{seq},</if>
			<if test="explain != null">#{explain},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sku
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.Sku">
		update sku
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="type != null">type = #{type},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="seq != null">seq = #{seq},</if>
			<if test="explain != null">explain = #{explain},</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.mall.pojo.Sku">
		update sku
		set 
			name = #{name},
			type = #{type},
			create_time = #{createTime},
			status = #{status},
			seq = #{seq},
			explain = #{explain}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultSkuMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_sku_List"/>
		from sku
		where id = #{id}
	</select>

	<!-- new create method   -->

</mapper>
