<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.chatter.mapper.AdsenseMapper">
	<resultMap id="BaseResultMap" type="cn.peyton.plum.chatter.pojo.Adsense">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="src" property="src" jdbcType="VARCHAR"/>
		<result column="url" property="url" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,src,url,type,create_time
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.chatter.pojo.Adsense" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into adsense(src,url,type,create_time)
		values (#{src},#{url},#{type},#{createTime})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.chatter.pojo.Adsense" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into adsense
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="src != null">
				src,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="src != null">
				#{src},
			</if>
			<if test="url != null">
				#{url},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from adsense
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.chatter.pojo.Adsense">
		update adsense
		<set>
			<if test="src != null">
				src = #{src},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.chatter.pojo.Adsense">
		update adsense
		set 
			src = #{src},
			url = #{url},
			type = #{type},
			create_time = #{createTime}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from adsense
		where id = #{id}
	</select>


	<!-- new create method   -->

    <select id="findByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from adsense
        where type = #{type}
        limit #{page.offset},#{page.pageSize}
    </select>

</mapper>
