<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.chatter.mapper.BlackListMapper">
	<resultMap id="BaseResultMap" type="cn.peyton.plum.chatter.pojo.BlackList">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="black_id" property="blackId" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,black_id,user_id,create_time
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.chatter.pojo.BlackList" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into black_list(black_id,user_id,create_time)
		values (#{blackId},#{userId},#{createTime})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.chatter.pojo.BlackList" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into black_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="blackId != null">
				black_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="blackId != null">
				#{blackId},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from black_list
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.chatter.pojo.BlackList">
		update black_list
		<set>
			<if test="blackId != null">
				black_id = #{blackId},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.chatter.pojo.BlackList">
		update black_list
		set 
			black_id = #{blackId},
			user_id = #{userId},
			create_time = #{createTime}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from black_list
		where id = #{id}
	</select>


	<!-- new create method   -->

</mapper>
