<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.chatter.mapper.FollowMapper">
	<resultMap id="BaseResultMap" type="cn.peyton.plum.chatter.pojo.Follow">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <association column="follow_id" property="followUser"
                     javaType="cn.peyton.plum.chatter.pojo.User"
                     select="cn.peyton.plum.chatter.mapper.UserMapper.findByExpand">
        </association>

	</resultMap>

	<sql id="Base_Column_List">
		id,follow_id,user_id,create_time
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.chatter.pojo.Follow" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into follow(follow_id,user_id,create_time)
		values (#{followUser.id},#{userId},#{createTime})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.chatter.pojo.Follow" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into follow
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="followUser.id != null">
				follow_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="followUser.id != null">
				#{followUser.id},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from follow
		where id = #{id}
	</delete>

    <delete id="deleteByUserIdAndFollowId">
        delete from follow
		where user_id = #{userId} and follow_id = #{followId}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.chatter.pojo.Follow">
		update follow
		<set>
			<if test="followUser.id != null">
				follow_id = #{followUser.id},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.chatter.pojo.Follow">
		update follow
		set 
			follow_id = #{followUser.id},
			user_id = #{userId},
			create_time = #{createTime}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from follow
		where id = #{id}
	</select>
    <select id="findByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from follow
        where user_id = #{userId}
    </select>

    <!-- new create method   -->
    <select id="checkFollow" resultType="java.lang.Integer">
        SELECT
            count(id)
        from follow
        where user_id=#{userId} and follow_id=#{followId}

    </select>




</mapper>
