<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.chatter.mapper.UserBindMapper">
	<resultMap id="BaseResultMap" type="cn.peyton.plum.chatter.pojo.UserBind">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="open_id" property="openId" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,type,open_id,user_id,nick_name,avatar_url
	</sql>

	<insert id="insert" parameterType="cn.peyton.plum.chatter.pojo.UserBind" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into user_bind(type,open_id,user_id,nick_name,avatar_url)
		values (#{type},#{openId},#{userId},#{nickName},#{avatarUrl})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.plum.chatter.pojo.UserBind" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into user_bind
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type != null">
				type,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="avatarUrl != null">
				avatar_url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="type != null">
				#{type},
			</if>
			<if test="openId != null">
				#{openId},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="avatarUrl != null">
				#{avatarUrl},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_bind
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.chatter.pojo.UserBind">
		update user_bind
		<set>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="openId != null">
				open_id = #{openId},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName},
			</if>
			<if test="avatarUrl != null">
				avatar_url = #{avatarUrl},
			</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.plum.chatter.pojo.UserBind">
		update user_bind
		set 
			type = #{type},
			open_id = #{openId},
			user_id = #{userId},
			nick_name = #{nickName},
			avatar_url = #{avatarUrl}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from user_bind
		where id = #{id}
	</select>

	<!-- new create method   -->
    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_bind
        where user_id = #{id}
    </select>

    <select id="checkBindOther" resultType="java.lang.Integer">
        select
            count(id)
        from user_bind
        where user_id!=#{userId} and type=#{type} and open_id=#{openId}
    </select>
    <select id="findByOpenIdAndType" resultType="cn.peyton.plum.chatter.pojo.UserBind">
        SELECT <include refid="Base_Column_List"/>
        FROM user_bind WHERE type=#{type} AND open_id=#{openId}
    </select>

</mapper>
